.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.hero {
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 100px 20px;
    text-align: center;
    position: relative;
}

.hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero .container {
    position: relative;
    z-index: 1;
}

.hero h3 {
    font-size: 3em;
    margin-bottom: 20px;
    text-transform: uppercase;
    z-index: 1;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.button {
    background-color: #e50914;
    border: none;
    color: #fff;
    padding: 15px 30px;
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.button:hover {
    background-color: #b20710;
}

.button i {
    margin-right: 8px;
}

/* Estilos da tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 40px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #e50914;
    color: #fff;
    text-transform: uppercase;
}

tr:hover {
    background-color: #f1f1f1;
}

.box-movie {
    width: 100px;
    height: auto;
    border-radius: 5px;
}
/*Estilo para o Modal*/
.modal {
    display: none; /* Inicialmente oculto */
    position: fixed; /*Fixo para manter a posição no viewport*/
    z-index: 9999; /* Z-index alto para sobrepor outros conteúdos*/
    left: 50%; /* Centraliza horizontalmente */
    top: 50%; /* Centraliza verticalmente */
    transform: translate(-50%, -50%); /* Centraliza completamente o modal */
    width: 100%; /* Largura total da tela*/
    height: 100%; /* Altura total da tela*/
    overflow-y: auto; /* Habilita a rolagem se necessário*/
    background-color: rgba(0, 0, 0, 0.5); /* Fundo preto com transparência*/
    justify-content: center; /* Centraliza horizontalmente*/
    align-items: center; /* Centraliza verticalmente*/
    backdrop-filter: blur(5px); /* Efeito de desfoque no fundo */
}

/* Estilo para o Conteúdo do Modal*/
.modal-content {
    background-color: #fff; /* Fundo branco*/
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Largura do conteúdo*/
    max-width: 600px; /* Largura máxima do conteúdo*/
    max-height: 100vh;
    border-radius: 10px; /* Bordas arredondadas*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar destaque*/
    position: relative;
    overflow-y: auto; /* Adiciona rolagem interna ao conteúdo se necessário */
}

/* Estilo para o Botão de Fechar*/
.close-btn {
    color: #aaa; /* Cor do botão*/
    position: absolute; /* Posição absoluta*/
    top: 10px; /* Distância do topo*/
    right: 20px; /* Distância da direita*/
    font-size: 28px;
    font-weight: bold;
    border: none; /* Remove bordas*/
    background: none; /* Remove fundo*/
    cursor: pointer; /* Cursor de clique*/
}

.close-btn:hover,
.close-btn:focus {
    color: #000; /* Cor do botão ao passar o mouse*/
    text-decoration: none; /* Remove sublinhado*/
    cursor: pointer;
}

/* Estilo para a Imagem do Modal*/
#modal-image, #modal-image-Gerente {
    width: 100%; /* Largura total*/
    max-height: 300px; /* Altura máxima*/
    object-fit: cover; /* Ajusta a imagem*/
    border-radius: 10px; /* Bordas arredondadas*/
    margin-bottom: 15px; /* Espaço inferior*/
}

/* Estilo para o Conteúdo do Modal*/
#box-2, #box-3, #modal-forms {
    text-align: center; /* Centraliza o texto*/
}

#modal-title, #modal-title-Gerente {
    font-size: 24px; /* Tamanho da fonte*/
    margin-bottom: 10px; /* Espaço inferior*/
}

#modal-description,
#modal-year,
#nota-final, #modal-description-Gerente, #modal-year-Gerente, #nota-final-Gerente {
    font-size: 16px; /* Tamanho da fonte*/
    margin-bottom: 20px; /* Espaço inferior*/
}

/* Estilo para o Formulário */

#modal-forms label {
    font-weight: bold; /* Deixa as labels em negrito */
}

#modal-forms input, #modal-forms textarea {
    padding: 10px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    border: 1px solid #ccc; /* Borda leve */
    border-radius: 5px; /* Bordas arredondadas */
    width: 100%; /* Largura total */
    box-sizing: border-box; /* Inclui padding e borda na largura total */
}

#modal-forms input[type="submit"] {
    color: white; /* Cor do texto */
    border: none; /* Remove bordas */
    padding: 15px; /* Espaçamento */
    cursor: pointer; /* Cursor de clique */
    border-radius: 5px; /* Bordas arredondadas */
    font-size: 18px; /* Tamanho da fonte */
    transition: background-color 0.3s ease; /* Transição suave ao passar o mouse */
    display: inline-block; /* Para os botões ficarem lado a lado */
    margin-right: 15px; /* Espaço à direita entre os botões */
    width: auto; /* Tamanho automático */
}

/* Estilo para o Botão de Excluir */
#modal-forms .delete-button {
    background-color: #e74c3c; /* Cor de fundo para o botão Excluir */
}

#modal-forms .delete-button:hover {
    background-color: #c0392b; /* Cor do fundo ao passar o mouse */
}

/* Estilo para o Botão de Salvar */
#modal-forms .save-button {
    background-color: #4CAF50; /* Cor de fundo para o botão Salvar */
}

#modal-forms .save-button:hover {
    background-color: #45a049; /* Cor do fundo ao passar o mouse */
}

/* Garantir que os botões estão centralizados e com espaçamento correto */
#modal-forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Espaçamento entre os botões */
}

/* Estilo para o Formulário */
#modal-forms form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%; /* Tamanho completo */
}
/* Estilo para a Lista de Comentários */
#comentarios {
    max-height: 200px; /* Altura máxima da área de comentários */
    overflow-y: auto; /* Adiciona rolagem se necessário */
    margin-top: 15px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

/* Estilo para os Comentários */
#comentarios p {
    font-size: 14px; /* Tamanho da fonte */
    margin-bottom: 10px; /* Espaço inferior */
}

/* Estilo para os Botões de Compra e Aluguel*/
#buy-button,
#rent-button {
    background-color: #4CAF50; /* Cor do fundo*/
    color: white; /* Cor do texto*/
    border: none; /* Remove bordas*/
    padding: 10px 20px; /* Espaçamento*/
    text-align: center; /* Centraliza o texto*/
    text-decoration: none; /* Remove sublinhado*/
    display: inline-block; /* Mantém em linha*/
    font-size: 16px; /* Tamanho da fonte*/
    margin: 10px 5px; /* Espaçamento externo*/
    cursor: pointer; /* Cursor de clique*/
    border-radius: 5px; /* Bordas arredondadas*/
}

#buy-button:hover,
#rent-button:hover {
    background-color: #45a049; /* Cor do fundo ao passar o mouse*/
}

/* Estilo para a Avaliação por Estrelas*/
.star-rating {
    display: flex; /* Exibe como flexbox*/
    justify-content: center; /* Centraliza horizontalmente*/
    margin-bottom: 20px; /* Espaço inferior*/
}

.star-rating input[type="radio"] {
    display: none; /* Oculta os inputs de rádio*/
}

.star-rating label {
    font-size: 20px; /* Tamanho da fonte*/
    color: #ddd; /* Cor das estrelas*/
    cursor: pointer; /* Cursor de clique*/
}

.star-rating input[type="radio"]:checked ~ label,
.star-rating input[type="radio"]:checked ~ label ~ label {
    color: #ff0; /* Cor das estrelas selecionadas*/
}

.star-rating label:hover,
.star-rating label:hover ~ label {
    color: #ff0; /* Cor das estrelas ao passar o mouse*/
}

/* Estilo para a Caixa de Comentários*/
.comment-box {
    width: 100%; /* Largura total*/
    height: 100px; /* Altura fixa*/
    padding: 10px; /* Espaçamento interno*/
    margin-bottom: 10px; /* Espaço inferior*/
    border: 1px solid #ccc; /* Borda*/
    border-radius: 5px; /* Bordas arredondadas*/
    resize: none; /* Desabilita o redimensionamento*/
}

/* Estilo para o Botão de Enviar Comentário*/
#submit-comment {
    background-color: #008CBA; /* Cor do fundo*/
    color: white; /* Cor do texto*/
    border: none; /* Remove bordas*/
    padding: 10px 20px; /* Espaçamento*/
    text-align: center; /* Centraliza o texto*/
    text-decoration: none; /* Remove sublinhado*/
    display: inline-block; /* Mantém em linha*/
    font-size: 16px; /* Tamanho da fonte*/
    margin: 10px 5px; /* Espaçamento externo*/
    cursor: pointer; /* Cursor de clique*/
    border-radius: 5px; /* Bordas arredondadas*/
}

#submit-comment:hover {
    background-color: #007bb5; /* Cor do fundo ao passar o mouse*/
}


/* Responsividade */
@media (max-width: 768px) {
    .hero h3 {
        font-size: 2em;
    }

    .hero p {
        font-size: 1em;
    }

    .buttons {
        flex-direction: column;
    }

    .button {
        width: 100%;
        text-align: center;
    }

    th, td {
        padding: 10px;
    }

    .box-movie {
        width: 80px;
    }


}
