/* Fixa navbar no topo */
.nav {
    position: absolute !important;
    z-index: 9999;
    width: 100%;
    text-align: center
}

/* Estilos do header */
header {
    background-color: #141414;
    padding: 10px;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 50px;
}


/* Estilo para o container de informações do usuário */
.user-info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
}

/* Estilo para o texto de boas-vindas */
.user-info span {
    font-size: 16px;
    color: white;
}

/* Estilo para o botão de logout */
.logout-button {
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #f44336; /* Vermelho */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}

.logout-button:hover {
    background-color: #d32f2f;
}

/* Estilos do menu de navegação */
.menu-nav {
    display: flex;
    gap: 20px;
}

.menu-nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.menu-nav a:hover {
    color: #e50914;
}

/* Responsividade */
@media (max-width: 768px) {
    .banner h1 {
        font-size: 2em;
    }

    .menu-nav {
        flex-direction: column;
        background-color: #141414;
        position: absolute;
        top: 60px;
        right: 0;
        width: 200px;
        transform: translateX(100%);
        transition: transform 0.3s ease;
    }

    .menu-nav.active {
        transform: translateX(0);
    }

    .menu-toggle {
        display: block;
        color: #fff;
        font-size: 1.5em;
        cursor: pointer;
    }
}

@media (min-width: 769px) {
    .menu-toggle {
        display: none;
    }
}
