header .container {
    display: flex;
    flex-direction: row; /* coloca o menu ao lado da logo */
    align-items: center; /* alinhando o menu ao centro do container */
    justify-content: space-between; /* adicionando um espa�o entre o menu e a logo */
}

h2 {
	color: #333;
	text-align: center;
	margin-bottom: 20px;
}

table {
	width: 80%;
	margin: 0 auto;
	border-collapse: collapse;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
	padding: 10px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

th {
	background-color: #4CAF50;
	color: white;
}

tr:nth-child(even) {
	background-color: #f9f9f9;
}

tr:hover {
	background-color: #f1f1f1;
}